:root {
  --header-background-color: "transparent";
  --sidebar-background-color: "transparent";
  --miniSidebar-bg: black;
  --border: #03346E;
  /* --main-bg: #0D2541; */
  --main-bg: rgb(0, 0, 0, 0.9);
  --color: white;
  --bg-image: url('./image.svg');
  --sid-icons-hover: black;
}

.lightMode {
  --header-background-color: #f2f2f7;
  --sidebar-background-color: #f2f2f7;
  --miniSidebar-bg: #F2F2F7;
  --border: #03346E;
  --main-bg: #FFFFFF;
  --color: black;
  --sid-icons-hover: white;
}

* {
  position: relative;
  margin: 0;
  padding: 0;
}

/**** Header ****/

.header {
  position: absolute;
  height: 5vw;
  width: 100%;
  background-color: var(--header-background-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 5px solid var(--border);
  z-index: -10;
}

.header>.navLeft {
  position: relative;
  font-size: 3vw;
  color: black;
  background-color: white;
  display: flex;
  align-items: center;
  margin-left: -10vw;
}

.navLeft>.icon {
  position: absolute;
  width: 4vw;
  margin: 0 0 0 0vw;
  z-index: 11;
}

.navLeft>.title {
  position: absolute;
  width: 15vw;
  margin: 0 0 0 0;
  left: 0;
  border-radius: 5px;
}

.header>.navRight {
  position: absolute;
  height: 4vw;
  width: 12%;
  /* background-color: red; */
  margin-left: 85%;
}

.sun {
  cursor: pointer;
  margin: 1vw 0 0 2vw;
  width: 1.8vw;
  padding: 10px;
  border-radius: 50%;
  backdrop-filter: blur(20px);
}

.glassEffectHeader {
  position: absolute;
  height: 5vw;
  width: 100%;
  background-color: black;
  z-index: -11;
}

.themeMenu {
  display: none;
  position: absolute;
  height: 20vw;
  width: 30vw;
  backdrop-filter: blur(50px);
  border: 1px solid white;
  border-radius: 10px;
  margin: -2vw 0 0 -18vw;
}

.sun:hover+.themeMenu {
  display: block;
}

.themeMenu:hover {
  display: block;
}

.themeModes {
  display: flex;
  justify-content: space-evenly;
  /* gap: 3vw; */
  padding: 2vw 0 0 0;
}

.themeModes div {
  cursor: pointer;
  /* background-color: #03346E; */
  border: 2px solid black;
  border-radius: 30px;
  padding: 1vw;
  color: var(--color);
}

.wallpapers {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  padding: 2vw;
}

.wallpapers>img {
  height: 7vw;
  width: 7vw;
  object-fit: cover;
}

.appliedWallpaper {
  position: absolute;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  /* object-position: center; */
}

/**** Sidebar ****/

.sidebar {
  position: absolute;
  height: 100vh;
  width: 18vw;
  background-color: var(--sidebar-background-color);
  border-right: 5px solid var(--border);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s;
}

.sidebarOff {
  margin-left: -15vw;
}

.sidebar>img {
  position: absolute;
  width: 3.2vw;
  height: 3.4vw;
  margin: 14px 0 0 2px;
  left: 0;
}

.currentMenu {
  cursor: default;
  font-size: 1.7vw;
  padding: 5px;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 10px;
  text-align: center;
  width: 70%;
  margin-top: 15px;
  margin-left: 3vw;
}

.menuTabs {
  width: 100%;
  font-size: 1.5vw;
  color: var(--color);
  display: flex;
  flex-direction: column;
  margin-top: 5vw;
  gap: 2.8vw;
}

.menuTabs>div {
  cursor: pointer;
  width: 100%;
  height: 4vw;
  transition: 0.3s;
  padding: 2px;
  font-weight: 50%;
}

.menuTabs>div:hover{
  transform: scale(0.9);
  background-color: var(--color);
  color: var(--sid-icons-hover);
  backdrop-filter: brightness(1%);
  border-radius: 20px;
}

.menuTabs>div>span {
  position: absolute;
  margin-left: 5vw;
  margin-top: 1vw;
}

.icons {
  position: absolute;
  width: 3vw;
  margin: 0.5vw 0 0 1vw;
  background-color: black;
  border-radius: 20%;
}

.sidebarToggle {
  position: absolute;
  z-index: 11;
  height: 2.5vw;
  width: 5.5vw;
  font-variant-caps: petite-caps;
  border: none;
  border-radius: 20px;
  /* padding: 1vw 1vw; */
  margin: 26vw 0 0 18vw;
  background-color: #3f8f3c;
}

.sidebarToggleOff {
  background-color: rgb(202, 23, 23);
}

.sidebarToggle>div {
  height: 2vw;
  width: 2vw;
  background-color: black;
  border-radius: 50%;
  border: 2px solid black;
  margin: 0 0 0 3vw;
  transition: 1s;
}

.toggleOff {
  transform: translateX(-2.9vw);
  transition: 1s;
}

.glassEffect {
  position: absolute;
  height: 100vh;
  width: 18vw;
  background-color: black;
  z-index: -11;
}

/**** Chat History ****/
.chatHistory {
  margin: 5vw 0 0 0;
  display: flex;
  flex-direction: column;
}

.chatTitles {
  text-align: left;
  height: 2vw;
  padding: 1vw;
  color: var(--color);
}

.chatTitles:hover {
  background-color: #03346E;
}

/**** Chat Categories ****/
.catgs {
  height: auto;
  width: 100%;
  color: white;
  margin: 5vw 0 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.chatCatgs {
  position: relative;
  height: 5vw;
  width: 7vw;
  border-radius: 20px;
  background-color: lightblue;
  margin: 1vw;
  text-align: center;
}

.catgsImg {
  position: absolute;
  height: 4vw;
  width: 4vw;
  border-radius: 50%;
  margin: -1.5vw 0 0 -2vw;
  background-color: black;
}

.catgsTitle {
  position: absolute;
  color: black;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/**** Mini Sidebar ****/
.miniSidebar {
  position: absolute;
  z-index: 1;
  height: 100vh;
  width: 6vw;
  background-color: black;
  margin: 0 0 0 -6vw;
  transition: 1s;
}

.miniSidebarCome {
  border-right: 5px solid #03346E;
  margin: 0vw;
}

.miniMenuTabs {
  display: flex;
  flex-direction: column;
  margin: 2vw 0 0 1vw;
  gap: 3vw;
}

.miniMenuTabs>img {
  cursor: pointer;
  width: 4vw;
  transition: 0.3s;
  border-radius: 50%;
}

.miniMenuTabs>img:hover{
  border-radius: 0%;
  background-color: white;
}

/**** Main ****/

main {
  position: absolute;
  background: var(--bg-image);
  background-size: cover;
  background-repeat: repeat-y;
  background-position-y: 0vw;
  height: 100vh;
  width: 100vw;
  background-color: var(--main-bg);
  z-index: -11;
}

.mainInput {
  position: absolute;
  width: 70%;
  height: 3vw;
  bottom: 3%;
  margin-left: 24%;
  font-size: 1.2vw;
  background-color: transparent;
  color: var(--color);
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid var(--color);
  resize: none;
  transition: 1s ease-in-out;
}

.mainInputTrans {
  margin-left: 17%;
}